:root {
  --bg-app: #F8FAFC;
  --bg-card: #FFFFFF;

  --text-main: #0F172A;
  --text-muted: #94A3B8;

  --shadow-soft: 0 12px 28px rgba(15, 23, 42, 0.08);

  --green: #22C55E;
  --yellow: #FACC15;
  --red: #EF4444;
}

/* ================= Base ================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(180deg, #F8FAFC, #EEF2F7);
  color: var(--text-main);
}

/* ================= Layout ================= */
.container {
  min-height: 100vh;
  padding: 28px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin-bottom: 28px;
}

h1 {
  margin: 0;
  font-size: 26px;
}

.subtitle {
  margin-top: 4px;
  color: var(--text-muted);
  font-size: 14px;
}

/* ================= Main ================= */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

/* ================= Meter ================= */
.meter {
  width: 100%;
  max-width: 420px;
  background: var(--bg-card);
  border-radius: 20px;
  padding: 28px;
  box-shadow: var(--shadow-soft);
  position: relative;
}

/* Accent strip */
.meter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--green);
  border-radius: 20px 20px 0 0;
}

.label {
  font-size: 20px;
  color: var(--text-muted);
  margin-bottom: 10px;
}

.value {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 6px;
}

.value span:first-child {
  font-size: 64px;
  font-weight: 700;
  color: var(--green);
}

.unit {
  font-size: 22px;
  color: var(--text-muted);
}

/* ================= Status Colors ================= */
.meter.normal::before { background: var(--green); }
.meter.warning::before { background: var(--yellow); }
.meter.danger::before { background: var(--red); }

.meter.normal .value span:first-child { color: var(--green); }
.meter.warning .value span:first-child { color: var(--yellow); }
.meter.danger .value span:first-child { color: var(--red); }

/* ================= Footer ================= */
footer {
  margin-top: auto;
  padding-top: 24px;
  text-align: center;
  font-size: 14px;
  color: var(--text-muted);
}

/* ================= Responsive ================= */
/* @media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

  .chart {
    grid-column: span 1;
  }
} */

.meter.chart {
  height: 360px;        /* tinggi card */
  width: 100%; /* kunci perubahan*/
  max-width: 900px;
}

.meter.chart canvas {
  width: 100% !important;
  height: 100% !important;
}

